.conta{
    background-color: white;
    border: solid;
    padding: 15px;
    margin-top: 300px;
    margin-inline-start: 850px;
    margin-inline-end: 850px;
    align-items: end;
    text-align: center;
    line-height: 45px;
    border-radius: 30px;

}

body{
    background-image: url(imag/Vastobode.png);
    background-size: cover;
}
